.DS_Store
examples/terraform.tfvars
terraform.tfplan
terraform.tfstate
.terraform
bin/
modules-dev/
./*.tfstate
/pkg/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
*.tfstate
*.tfstate.backup
terraform-provider-runscope