builds:
  - binary: terraform-provider-runscope_$VERSION
    goos:
      - darwin
      - linux
      - windows
    goarch:
      - amd64
    hooks:
      post: ./scripts/goreleaser-post.sh
archive:
  format: zip
  files: